#scrollToTopBtn { 
    position: fixed;
    bottom: 80px;
    right: 20px;
    z-index: 99;
    padding: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 20px;
}