.navbar-nav .nav-item .nav-link.active {
    background-color: black; 
    color: white; 
    text-decoration: underline;
    border-radius: 20px;
    border: solid;
}
.navbar-nav .nav-item .nav-link:hover{ 
    background-color: rgb(76, 73, 73);
    color: white; 
    text-decoration: underline;
    border-radius: 20px;
    border: solid;
}
hr{
    border: solid 2px rgb(218, 213, 213);
}
.container {
    background: none;
}  

.card-img{
    width: 150px;
}

.credit {
    text-align: center;
    font-size: 100;
    color: Black;
}

        




  