.navbar-nav .nav-item .nav-link.active {
    background-color: black; 
    color: white; 
    text-decoration: underline;
    border-radius: 20px;
    border: solid;
}
.navbar-nav .nav-item .nav-link:hover{ 
    background-color: rgb(76, 73, 73);
    color: white; 
    text-decoration: underline;
    border-radius: 20px;
    border: solid;
}

.sticky-navbar {
    position: sticky;
    top: 0;
    background-color: #007bff; 
    z-index: 1000; 
  }

hr{
    border: solid 2px rgb(218, 213, 213);
}
.container {
    background: none;
}  

.credit {
    text-align: center;
    font-size: 100;
    color: Black;
}

.list-unstyled li {
    margin-bottom: 20px; 
}

.list-unstyled li img {
    margin-right: 8px; 
}
        




  