.navbar-nav .nav-item .nav-link.active {
    background-color: black; 
    color: white; 
    text-decoration: underline;
    border-radius: 20px;
    border: solid;
}
.navbar-nav .nav-item .nav-link:hover{ 
    background-color: rgb(76, 73, 73);
    color: white; 
    text-decoration: underline;
    border-radius: 20px;
    border: solid;
}


.carousel-caption {
    background-color: rgba(255, 255, 255, .5);
    color: black;
    max-height: 400px;
    overflow: hidden;
    text-overflow: ellipsis; 
    padding: 10px;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;

}


@media only screen and (max-width: 767px) {
    .carousel-caption {
      max-height: 100px; 
      overflow: auto;
      font-size: 14px;
      margin: 0; 
    }
    .carousel img{
      height: 300px;
    }
  }


hr{
    border: solid 2px rgb(218, 213, 213);
}
.container {
    background: none;
}  

.credit {
    text-align: center;
    font-size: 100;
    color: Black;
}

        



